
h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: coral;
    /*    display: flex;
          justify-content: center;
    */
}

button {
    padding: 10px;
    font-size: 18px;
    border-radius: 5%;
}

.main-menu {
    display: flex;
    justify-content: center;
}

.game-arena {
    display: none;
    border: 1px solid black;
    height: 800px

}

.game-arena .bot {
    height: 25%;
    border: 1px solid black;

}

.game-arena .table {
    height: 40%;
}

.game-arena .table div {
    /*TODO: check why the height here is problematic*/
    /*    border: 1px solid;*/
    display: flex;
    justify-content: center;
    height: 100%;
}

.pile {
    /*TODO: make it work as 70%*/
    background: red;
    width: 70%;
    /*    height:100%;*/
    border: none;
}

.deck {
    background: green;
    width: 30%;
    border: none;
}
.game-arena {
    background: #339900;
}
.game-arena .player {
    height: 25%;
    border: 1px solid black;
}

.game-arena .status {
    height: 10%;
}

.center {

}

h1, h2, h3 {
    margin: 0;
    display: flex;
    justify-content: center;
    /*TODO: make it center*/
}

.botCardsArea {
    display: flex;
    justify-content: center;
    height: 80%;
/*    background: #339900;*/
}

.playerCardsArea {
    display: flex;
    justify-content: center;
    height: 80%;
/*    background: #339900;*/
}

.cardOutline {
    display: flex;
    flex-direction: column;
    width: 80px;
    min-width: 55px;
    height: 80%;
    text-align: center;
    padding:10px;
    margin: 7px;
    background: #FFF;
    color: #cc0033;
    text-shadow: 0px 0px 2px black;
    /*border: 1px solid black;*/
}

.cardOutline .cardTop, .cardOutline .cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-size: small;
    font-family: fantasy;
}

.cardOutline .cardCenter {
    display: flex;
    justify-content: center;
    flex: 5;
    align-items: center;
    font-size: xx-large;    /*-webkit-xxx-large;           /*TODO: ask about webkit */
    font-family: fantasy;

}

.shadow {
    box-shadow: 1px 1px 3px #000; -moz-box-shadow: 1px 1px 3px #000; -webkit-box-shadow: 1px 1px 3px #000;
}
.rounded    {
    border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
}
