
h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: coral;
    /*    display: flex;
          justify-content: center;
    */
}

button {
    padding: 10px;
    font-size: 18px;
    border-radius: 5%;
}

.main-menu {
    display: flex;
    justify-content: center;
}

.game-arena {
    display: none;
    border: 1px solid black;
    height: 800px

}

.game-arena .bot {
    height: 25%;
    border: 1px solid black;

}

.game-arena .table {
    height: 40%;
}

.game-arena .table div {
    /*TODO: check why the height here is problematic*/
    /*    border: 1px solid;*/
    display: flex;
    justify-content: center;
    height: 100%;
}

.pile {
    /*TODO: make it work as 70%*/
    background: red;
    width: 70%;
    /*    height:100%;*/
    border: none;
}

.deck {
    background: green;
    width: 30%;
    border: none;
}

.game-arena .player {
    height: 25%;
    border: 1px solid black;
}

.game-arena .status {
    height: 10%;
}

.center {

}

h1, h2, h3 {
    margin: 0;
    display: flex;
    justify-content: center;
    /*TODO: make it center*/
}

.cardsArea {
    display: flex;
    justify-content: flex-start;
    height: 80%;
}

/*.card {
    border: 1px solid black;
    width: 70px;
    height: 80%;
}
*/
span {
    /*    display: inline-block;*/
}

.cardOutline {
    width: 70px;
    height: 80%;
    display: block;
    width: 110px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    background: #FFF;
    color: #cc0033;
    border: 1px solid black;
}

.cardOutline div {
    display: inline-block;
}

/*.cardOutline {*/
/*.top, .bottom {*/
/*display: flex;*/
/*justify-content: space-between;*/
/*}*/
/*.main {*/
/*display: flex;*/
/*justify-content: center;*/
/*}*/
/*}*/

.cardOutline {
    display: flex;
    flex-direction: column;
}

.cardOutline .cardTop, .cardOutline .cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.cardOutline .cardCenter {
    display: flex;
    justify-content: center;
    flex: 5;
    align-items: center;
}